doctype html
html(lang="en")
  	head
  		style
      		include style.css
  			title="Unauthorized Page Access"
  	body
  		#wrapperBody
  			#center
    			h1 "You do not have permission to view this page